@attribute [Authorize]
@page "/"
@using SunPortal.Cloud.Lib.Interfaces
@using SunPortal.Cloud.Lib.App
@using System.Collections
@using Microsoft.AspNetCore.Identity

@inject IDevicesService Devices
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> UserManager

<MatTable Items="@_clients" class="mat-elevation-z5" ShowPaging="false" UseSortHeaderRow="true">
    <MatTableHeader>
        <MatSortHeaderRow>
            <MatSortHeader SortId="id">Id</MatSortHeader>
            <MatSortHeader SortId="name">Name</MatSortHeader>
            <MatSortHeader SortId="count">Devices count</MatSortHeader>
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow @onclick="() => NavigateDetail(@context.ClientId)">
        <td>@context.ClientId</td>
        <td>@context.Name</td>
        <td></td>
    </MatTableRow>
</MatTable>

@code{

    private IEnumerable<Client> _clients = new List<Client>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
    //if (Context.HttpContext?.User != null)
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            _clients = await Devices.ClientsByOwner(UserManager.GetUserId(state.User));

            StateHasChanged();
        }
    }


    private void NavigateDetail(Guid id)
    {
        throw new NotImplementedException();
    }

}