.open {
    transform: translateX(0);
}

.close {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

.mat-nav-menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.mat-nav-menu h3 {
    margin: 0;
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
}

.mat-nav-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mat-nav-menu-item {
    display: block;
    padding: 16px;
    color: #444;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.mat-nav-menu-item:hover {
    background-color: #f0f0f0;
}

.mat-nav-menu-item.active {
    background-color: #e6e6e6;
}