@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>SunPortal.Cloud.Services.Portal</PageTitle>
<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu"></MatIconButton>
                <MatAppBarTitle>SunPortal</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatButton>Login</MatButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <main class="content">
            @Body
        </main>
    </MatAppBarContent>
</MatAppBarContainer>

@code{

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
           NavigationManager.NavigateTo("/Identity/Account/Login",true);
        }
    }

}